{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>

  <!-- Google Font: Source Sans Pro -->
  {% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'sdapp/libs/adminlte/plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'sdapp/libs/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'sdapp/libs/adminlte/dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition login-page">
    {% block content %}{% endblock content %}

    <script src="{% static 'sdapp/libs/adminlte/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sdapp/libs/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'sdapp/libs/adminlte/dist/js/adminlte.min.js' %}"></script>
</body>
</html>
