{% extends 'sdapp/layouts/admin.html' %}
{% load static %}

{% block title %}Profile - Service Desk{% endblock title %}

{% block page_title %}Profile{% endblock page_title %}

{% block content %}
<div class="p-2">
    <form action="{% url 'profile' %}" method="POST">
        <h4>Name</h4>
        <div class="row">
            <div class="col-md-3 mt-3">First Name</div>
            <div class="col-md-4 mt-3">
                <input type="text" name="firstName" value="{{ user.first_name }}" class="form-control">
            </div>
            <div class="col-md-5"></div>
            
            <div class="col-md-3 mt-3">Last Name</div>
            <div class="col-md-4 mt-3">
                <input type="text" name="lastName" value="{{ user.last_name }}" class="form-control">
            </div>
            <div class="col-md-5"></div>
        </div>

        <h4 class="mt-4">Contact Info</h4>
        <div class="row">
            <div class="col-md-3 mt-3">Email (required)</div>
            <div class="col-md-4 mt-3">
                <input value="{{ user.email }}" type="text" name="emailAddress" class="form-control">
            </div>
            <div class="col-md-5"></div>
            
        </div>

        <h4 class="mt-4">About Yourself</h4>
        <div class="row">

            <div class="col-md-3 mt-3">Gender</div>
            <div class="col-md-4 mt-3">
                <select name="gender" class="custom-select">
                    <option value="">-- SELECT --</option>
                    <option value="male">Male</option>
                    <option value="">Female</option>
                    <option value="">Other</option>
                </select>
            </div>
            <div class="col-md-5"></div>

            <div class="col-md-3 mt-3">Biographical Info</div>
            <div class="col-md-4 mt-3">
                <textarea name="bioDescription" class="form-control" rows="4"></textarea>
                <p><small>Share a little biographical information to fill out your profile. This may be shown publicly.</small></p>
            </div>
            <div class="col-md-5"></div>
            
            <div class="col-md-3 mt-3">Profile Picture</div>
            <div class="col-md-4 mt-3">
                <img loading="lazy" style="width: 150px;height: 150px;" src="{% static 'sdapp/libs/adminlte/dist/img/user1-128x128.jpg' %}" id="userImageView" class="img-circle elevation-1" alt="User Image">
                <p class="pl-4"><small><a data-role="changeUserProfileImage" href="#">Change</a><span class="mx-2">|</span><a data-role="removeUserProfileImage" data-user-id="{{ user.id }}" class="text-danger" href="#">Remove</a></small></p>
            </div>
            <div class="col-md-5"></div>
        </div>

        <h4 class="mt-4">Account Management</h4>
        <div class="row">
            <div class="col-md-3 mt-3">New password</div>
            <input type="hidden" id="userPasswordPreview" value="{{ random_password }}">
            <div class="col-md-6 mt-3" id="pw-box">
                <div class="row">
                    <div class="input-group input-group-sm col-8">
                        <input type="password" name="userPassword" id="userPassword" autocomplete="false" class="form-control border-right-0">
                        <div class="input-group-append bg-white border-left-0">
                            <div id="ps-show-pw" class="input-group-text border-left-0 btn btn-light bg-white">
                                <span class="fas fa-eye"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group col-4">
                    </div>
                    <div id="pw-messages" class="col-8">
                        <div id="pw-score"></div>
                        <div id="pw-progress"></div>
                        <div id="pw-errors"></div>
                        <div id="pw-verdict"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-3"></div>
        </div>
        <p class="mt-4 pt-5"></p>

        <button type="submit" class="btn btn-sm btn-primary">Update Profile</button>
        <p class="mt-5 pt-3"></p>
    </form>
    <form action="{% url 'profile' %}" id="staffProfilePictureForm" method="post" enctype="multipart/form-data">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="file" class="invisible" name="staffProfilePicture" id="staffProfilePicture">
    </form>
</div>
{% endblock content %}

{% block js %}
<script>
    $(function() {
        $('#userPassword').pwstrength({
            ui: {
                container: '#pw-messages',
                viewports: {
                    progress: '#pw-progress',
                    verdict: '#pw-verdict',
                    errors: '#pw-errors',
                    score: '#pw-score'
                }
            }
        });

        $( document ).on( 'click', '[data-role="changeUserProfileImage"]', function( e ) {
            if( e.preventDefault ) e.preventDefault();

            $( '#staffProfilePicture' ).click();
        });

        $( document ).on( 'click', '[data-role="removeUserProfileImage"]', function( e ) {
            if( e.preventDefault ) e.preventDefault();

            httpPost("{% url 'profile' %}", 
                {
                    user_id: $( this ).data('user-id')
                },
                function(response, status, xhr) {
                    if( response.message == 'success' ) {
                        toastr.success( response.reason );
                        $( '#userImageView, .loggedInUserImage' ).attr( 'src', response.new_image_uri );
                    } else if( response.reason ) {
                        toastr.error( response.reason );
                    }
                },
                '#userImageView'
            );
        });

        $( document ).on('change', '#staffProfilePicture', function( e ) {
            $.ajax({
                url: `{% url 'profile' %}`, 
                type: 'POST',
                data: new FormData( $( '#staffProfilePictureForm' )[0] ), 
                processData: false,
                contentType: false,
                beforeSend: function(xhr) {
                    appLoader('show', '#userImageView')
                },
                complete: function(xhr, status) {
                    appLoader('hide', '#userImageView')
                }
            }).done(function(response, status, xhr) {
                if( response.message == 'success' ) {
                    toastr.success( response.reason );
                    $( '#userImageView, .loggedInUserImage' ).attr( 'src', response.new_image_uri );
                } else if( response.reason ) {
                    toastr.error( response.reason );
                }
            }).fail(function(xhr, status, error) {
                console.log( xhr );
            });
        });
    })
</script>
{% endblock js %}
